@model Blogger.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>*@
</hgroup>
<div class="container">


    <div class="row">
        <div class="col-md-7">
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row">

                    <!-- Blog Entries Column -->
                    <div class="col-md-8">
                        <h1 class="page-header">Log in Form</h1>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2">
                        @Html.LabelFor(m => m.UserName)
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.UserName)
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        &nbsp;
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Password)
                    </div>
                    <div class="col-md-3">
                        @Html.PasswordFor(m => m.Password)
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <div class="col-md-4">
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col-md-1">
                        &nbsp;
                    @Html.CheckBoxFor(m => m.RememberMe)
                    </div>
                    <div class="text-left col-md-3">
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </div>

                </div>
                <br />
                <input type="submit" value="Log in" />
        
                <p>
                    @Html.ActionLink("Register", "Register") if you don't have an account.
                </p>
            }
        </div>
        <div class="col-md-5">
            <section class="social" id="socialLoginForm">
                <h2>Use another service to log in.</h2>
                @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
